@model Errander.Models.TableViewModel


<table class="table table table-striped">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ErrandDestination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.AmountOffered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NeededBy)
        </th>
        <th>

        </th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ErrandDestination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>

            <td>
                $@Html.DisplayFor(modelItem => item.AmountOffered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NeededBy)
            </td>
            <td>
                @Html.ActionLink("Choose Errand", "TakeErrand", new { Controller ="Errands", id = item.ID }, new { @class = "HomeButton btn btn-success" })
            </td>
           
            
        </tr>
    }
</table>