@model Errander.Models.Errand

<h1>Helloooooo</h1>
@*<td>
    @Html.DisplayFor(model => model.UserId)
</td>
<td>
    @Html.DisplayFor(model => model.Name)
</td>
<td>
    @Html.DisplayFor(model => model.CurrentLocation)
</td>
<td>
    @Html.DisplayFor(model => model.ErrandDestination)
</td>
<td>
    @Html.DisplayFor(model => model.City)
</td>
<td>
    @Html.DisplayFor(model => model.IsCompleted)
</td>
<td>
    @Html.DisplayFor(model => model.InProgress)
</td>
<td>
    @Html.DisplayFor(model => model.AmountOffered)
</td>
<td>
    @Html.DisplayFor(model => model.NeededBy)
</td>
<td>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Details", "Details", new { id = Model.ID }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.ID })
</td>*@