@model IEnumerable<Errander.Models.Errand>
@{
    ViewBag.Title = "ShowErrandsAcceptedByUser";
}

<h2>Your Errands To Complete</h2>



<table class="table table table-striped">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ErrandDestination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.AmountOffered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NeededBy)
        </th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ErrandDestination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>

            <td>
                $@Html.DisplayFor(modelItem => item.AmountOffered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NeededBy)
            </td>
            


        </tr>
    }
</table>
<div>
    @*@Html.Partial("_CompletedErrands")*@
</div>

