@model Errander.Models.Errand
@{
    ViewBag.Title = "TakeErrand";
}
<head>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>

<h2>TakeErrand</h2>
<div class="container">
    <h4>Errand</h4>
    <hr />
<div class="col-md-6">
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ErrandDestination)
        </dt>

        <dd id="errandDest">
            @Html.DisplayFor(model => model.ErrandDestination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

      
        <dt>
            @Html.DisplayNameFor(model => model.AmountOffered)
        </dt>

        <dd>
            $@Html.DisplayFor(model => model.AmountOffered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NeededBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeededBy)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color leftoffset">
            <input type="submit" value="TakeErrand" class="btn btn-success" /> |
            @Html.ActionLink("Back to List", "Index", new { Controller = "Home" }, new { @class = "btn btn-danger" })
        </div>
    }
</div>
<div class="col-md-6">
    <script>

    geocoder = new google.maps.Geocoder();

function initialize() {

    var mapProp = {
        center: { lat: 51.508742, lng: -0.120850 },
        zoom: 5,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
    var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
    var address =document.getElementById("errandDest").innerHTML;
    getCoordinate(address, map);

}

function getCoordinate(address, Resultmap) {
    //console.log("here");
    geocoder.geocode({ 'address': address }, function (results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
            console.log(results);
            Resultmap.setCenter(results[0].geometry.location);

            var marker = new google.maps.Marker({
                map: Resultmap,
                position: results[0].geometry.location

            });
        }
    });

}
$(document).ready(function(){
initialize()
});
    //google.maps.event.addDomListener(window, 'load', initialize);
    </script>


<div id="googleMap" style="width:500px;height:380px;"></div>
</div>
</div>
